@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --color: #2978cb;
    --bold-lead-color: #7a7a7a;
    --light-lead-color: #f3f3f3;
    --padding: 8%;
    --main-transition: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}


html{
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
}

a:hover{
    color: var(--color);
}

input{
    outline: none;
}

::selection{
  background-color: #023162;
  color: white;
}

/* section-title */

.section-title{
    position: relative;
    font-size: 40px;
    /* margin: auto; */
    width: fit-content;
}

.section-title::after{
background-color: var(--color);
}


.section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}


/* main-btn */
.main-btn{
    color: #7a7a7a;
    position: relative;
    margin: auto;
    width: fit-content;
    opacity: 60%;
    font-size: 19px;
    color: rgb(0, 0, 0);
}

.main-btn:hover{
    color: var(--color);
    opacity: 100%;
}

.main-btn::after {
background-color:var(--color);
}


.main-btn::after {
content: "";
position: absolute;
bottom: -10px;
left: 0px;
height: 5px;
width: calc(100% - 20px);
}

.insta{
    color: rgb(242, 78, 78);
}

.linkedin{
    color: #2978cb;
}

.facebook{
    color: #023162;
}

.whats{
    color: green;
}

.twitter{
    color: blue;
}


/* ************************************************************* */
/* Start header */
/* ************************************************* */
li a {
    display: inline !important;
    color: rgb(0, 0, 0) !important;
    transition: 3s;
}


.nav-item  a:hover{
    background-color: var(--light-lead-color) !important;
    color: var(--color) !important;
    border-radius: 15px;
}



@media (max-width:1000px) {
    li a {
        color: rgb(255, 255, 255) !important;
    }

    .nav-item  a:hover{
        background-color: #ffffff !important;
        color: var(--color) !important;
    }

}


.navbar-nav  .chat{
    background-color: var(--color);
    border-radius: 10px;
    width: 150px;
    margin-left: 260px;
}

@media (max-width:1280px) {
    .navbar-nav  .chat{
        margin-left: 0;
    }
}

@media (max-width:1024px) {
    .navbar-nav  .chat{
        margin-left: 0;
    }

}

.navbar-nav  .chat .chatlink{
    color: #ffffff !important;
}

.navbar-nav  .chat .chatlink:hover{
    color: #ffffff !important;
    background-color: #2978cb !important;
}


.nav-item svg{
    color: white;
    padding: 0 4px !important;
}

.nav-limkss{
    display: flex;
    justify-content: space-between;
}

@media (max-width:912px) {
    .nav-limkss{
        display: block;
        padding: 15px;
    }
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar span{
    color: #000000 !important;
}

.img-nav{
    width: 200px;
}

@media (max-width:912px) {
    .img-nav{
        width: 120px;
    }
}

/* ************************************************************* */
/* End header */
/* ************************************************* */



/* start landing */



.landing-about{
    width: 100%;
    min-height: 80vh;
     display: flex;
    align-items: center;
    background-color: #1a1a1a;
    background: url(../image/cover1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #060709;
}


.landing-about h1{
    color: rgb(250, 250, 250);
    font-weight: bold;
}



.landing-about p{
    font-size: 14px;
    color: rgb(255, 255, 255);
}


.landing{
    background-color: #ffffff;
    }

    .row{
    direction: rtl;

    }

    @media (max-width : 920px) {
        .row .myimg{
            text-align: center;

           }
    }




    .row .text{
        direction: ltr;
    }


    @media (max-width : 920px) {
        .landing-about p{
            line-height: 17.8px;
        }
    }
    .landing-about .text2{
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 50px;
      color: white;
      text-align: center;
    }
    
    .landing-about .text2 p{
      line-height: 15.9px;
      font-size: 15px !important;
    }


/* end landing */


/* ****************************************************** */
/* Start Services */
/* ************************************** */

.main-title h6{
    letter-spacing: 5px;
}

.row2 {
    direction: ltr !important;
}

.main-btn2{
    background-color: var(--color);
    color: white;
    padding: 13px;
    border-radius: 10px;
}

.main-btn2:hover{
    color: #000000 !important;
    background-color: var(--light-lead-color) !important;
    border: var(--color) solid !important;
}

.col .card{
    border-radius: 15px !important;
    border: none;
    border-bottom: 2px solid var(--color);
}

.col .card:hover{
    border-radius: 15px !important;
    border: 2px solid var(--color);
}

/* ************************************************************* */
/* End Services */
/* ************************************************* */






  /* Start Footer */
  .footer{
    background-color:var(--color);
    color: white;
    overflow: hidden;
}

.foot-description p{
    letter-spacing: 1px;
}

.copyright{
    color: white;
    background-color: #023162;
    text-align: center;
}

.mylinkss a{
    font-size: 19px;
    color: white;
}

.quick-links a{
    display: block;
    color: white;
}